<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>

  <div id="app">
    <input type="text" v-model="search">
    <div v-for="item in filteredItems" >
      <p>{{item.name}} ({{item.type}})<p>
    </div>
    
  </div>  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  <script>
    const app = new Vue({
      
      el: '#app',
      
      data: {
         search: '',
         items: [
           {name: 'Stackoverflow', type: 'development'},
           {name: 'Game of Thrones', type: 'serie'},
           {name: 'Jon Snow', type: 'actor'}
         ]
      },
      
      computed: {
        filteredItems() {
          return this.items.filter(item => {
            var string = item.name + item.type
            return string.indexOf(this.search.toLowerCase()) > -1
          })
        }
      }
      
    })
  </script>
</body>
</html>